@mixin propiedades($area) {

    &:hover {
        grid-area: $area;
        filter: grayscale(0);
        transform: scale(1.2);
    }

}


.propiedades {
    transition: all 1s;
    filter: grayscale(100%);

}

.prop1 {

    @include propiedades(prop1);

}

.prop2 {

    @include propiedades(prop2);

}

.prop3{ 
    
    @include propiedades(prop3);

}
